<section class="research-section" [ngClass]="{'maintenance-mode': isMaintenanceMode}">
    <div class="maintance-message" *ngIf="isMaintenanceMode">
      Research Section is under construction...
    </div>
    <!-- Other content goes here -->

    <div class="cv-section">
      <h2>Personal projects</h2>
      <div class="cv-event">
        <h3>Multi-artificial intelligent agent systems</h3>
        <p class="date">Jan 2023 -- present</p>
        <ul>
          <li>Ultimate goal: To design and devise novel frameworks and architectures for complex multi-agent systems exploiting fundamental physics principles, concepts and principles from Bayesian game theory, quantum uncertainity and non-locality.</li>
          <li><strong>Live progress:</strong> Trying to implement (teach an agent) the "partition model of knowledge" with my own algorithm based on multi-agent reinforcement learning from scratch.</li>
          <li>Public Link: <a href="https://github.com/Jabi7/Multi-agent-intelligent-systems-my-Quest-" target="_blank">https://github.com/Jabi7/Multi-agent-intelligent-systems-my-Quest-</a></li>

        </ul>
      </div>
    </div>
    
</section>
