.research-section.maintenance-mode {
  display: flex;
  justify-content: center; // Centers content horizontally
  align-items: center;     // Centers content vertically
  height: 100vh;           // Takes the full viewport height

  .maintance-message {
    // Additional styles for the message if needed
  }
}

$heading-color: #ff0000;
$emphasis-color: #ff0000;

.cv-section {
  font-family: 'Courier New', monospace;
  // height: 100vh; 
  padding: 30px;
  // margin-bottom: 1em;
  h2 {
    color: $heading-color;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid $heading-color;
  }
  .cv-event {
    margin-top: 1em;
    h3 {
      color: $emphasis-color;
      font-size: 1.2em;
    }
    .date {
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
    ul {
      list-style-type: disc;
      margin-left: 1em;
      li {
        margin-bottom: 0.5em;
      }
    }
  }
}
 
/* ... (Your existing styles) ... */


$link-color: #3c38fa;


.abstract-toggle {
    display: block;  // Make it occupy full width
    width: auto;    // Let it adjust width based on content
    margin: 0.5em;  // Add some space above
    background-color: transparent; // No background
    border: 2px solid $link-color;
    color: $link-color;  
    padding: 8px 15px;      // A bit more padding
    cursor: pointer;
    font-family: 'Courier New', monospace; // Match font
    font-size: 0.7em;
    text-transform: uppercase; // All caps, like other elements
    transition: background-color 0.3s ease, color 0.3s ease;  // Smooth transitions

    &:hover {
        background-color: $link-color;
        color: white;
    }
}


.abstract-content {
    margin: 0.5em;
    padding: 10px;
    border: 2px solid $link-color;
    border-radius: 0; // Remove rounded corners for sharper look
}

.details-toggle {
  display: block;  // Make it occupy full width
  width: auto;    // Let it adjust width based on content
  margin: 0.5em;  // Add some space above
  background-color: transparent; // No background
  border: 2px solid $link-color;
  color: $link-color;  
  padding: 8px 15px;      // A bit more padding
  cursor: pointer;
  font-family: 'Courier New', monospace; // Match font
  font-size: 0.7em;
  text-transform: uppercase; // All caps, like other elements
  transition: background-color 0.3s ease, color 0.3s ease;  // Smooth transitions

  &:hover {
      background-color: $link-color;
      color: white;
  }
}


.details-content {
  margin: 0.5em;
  padding: 10px;
  border: 2px solid $link-color;
  border-radius: 0; // Remove rounded corners for sharper look
}
