@mixin hover-effect {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  @mixin pulsate-animation {
    animation: pulsate 3s infinite;
    text-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
  }
  