$primary-color: #BB86FC;
$secondary-color: #a270e6; 
$background-color: #222;
$text-color: #fff;
$text-gray: #aaa;
$divider-color: #383e4a;
$subtle-background: #282c34;
$light-gray: #e8eaed;
$link-color: #BB86FC; 
