<div class="name-header">
    <h1>M. Jabir Thayyil</h1>
</div>

<div class="title">
</div>

<div class="current-status-box">
</div>

<div class="personal-links">
    <a href="https://orcid.org/0000-0001-5211-2096" target="_blank" title="ORCID">
        <fa-icon [icon]="['fab', 'orcid']"></fa-icon>
    </a>
    <a href="https://github.com/Jabi7" target="_blank" title="GitHub">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/muhammed-jabir-thayyil-78a9841b1" target="_blank" title="LinkedIn">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a href="mailto:mjabir.t@niser.ac.in" title="Email">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
    </a>
</div>


