.content-container {
    position: absolute;
    width: 100%;
    background-color: #121212;
    padding-top: 20px; // Some spacing for better visual appearance
}

.content-nav {
    position: sticky;
    top: 0; // This ensures the navbar sticks to the top
    z-index: 100;
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 0;
    background-color: #333;

    a {
        flex: 1; // This ensures that the clickable components equally occupy the entire navbar
        color: #BB86FC;
        text-decoration: none;
        height: 100%;
        padding: 0px 10px;
        transition: background-color 0.3s;
        display: flex; // To center the text inside the anchor tags
        align-items: center; // Vertically center the text
        justify-content: center; // Horizontally center the text
        border-bottom: 2px solid #444;

        &:hover {
            background-color: #555;
        }

        &.active {
            background-color: #444;
            border-bottom: 3px solid #BB86FC; // A border to make it pop on the dark background
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // A subtle shadow for depth
        }
    }


}

@keyframes pulsate {
    0% {
        text-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
    }
    50% {
        text-shadow: 0 0 7px rgba(187, 134, 252, 0.4);
    }
    100% {
        text-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
    }
}


.content-nav a.active {
    animation: pulsate 3s infinite;
    text-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
}

.content-nav a.active {
    // background-image: linear-gradient(45deg, #FFFFFF 20%, #BB86FC 50%, #BB86FC);
    background-image: radial-gradient(circle closest-side, #E6B5FF , #BB86FC);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent; // For some browsers
}






