// education.component.scss

@use '/src/styles/variables' as *;  
@use '/src/styles/mixins'; 
@use '/src/styles/education-entry';
@use '/src/styles/experience';
@use '/src/styles/coursework-section';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0.1px;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    width: 100vw;
    overflow-x: hidden; // This ensures no horizontal scrolling if there's any overflow
    display: flex;
    flex-direction: column; // This ensures that the child elements (components) are stacked vertically
}

/*
a {
    color: #BB86FC;

    &:hover {
        text-decoration: underline;
    }
}*/




/* Media Query */
@media (max-width: 768px) { 
    .education-entry {
        flex-direction: column; 

        .left-column, .center-column, .right-column {
            text-align: left; 
        }
    }
}

/* Pulsate Animation */
@keyframes pulsate { 
    0% {
        text-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
    }
    50% {
        text-shadow: 0 0 7px rgba(187, 134, 252, 0.4);
    }
    100% {
        text-shadow: 0 0 0px rgba(187, 134, 252, 0.5);
    }
}

